# Top level docker compose

services:
  apsim-builds:
    image: apsiminitiative/apsim-builds:latest
    pull_policy: never
    container_name: apsim-builds
    restart: unless-stopped
    profiles:
      - dev
      - all
      - builds
      - apsim-builds
    environment:
      - APACHE_LOG_DIR=/usr/local/apache2/logs
      - JENKINS_URL=${JENKINS_URL}
      - JENKINS_TOKEN_NG=${JENKINS_TOKEN_NG}
      - JENKINS_TOKEN_CLASSIC=${JENKINS_TOKEN_CLASSIC}
      - JWT_SECRET_KEY=${JWT_SECRET_KEY}
      - HMAC_SECRET_KEY=${HMAC_SECRET_KEY}
      - DOCUMENTATION_PATH=/var/builds/docs
      - INSTALLERS_PATH=/var/builds/installers
      - NG_DB_CONNECTION_STRING=${NG_DB_CONNECTION_STRING}
      - OLD_DB_CONNECTION_STRING=${OLD_DB_CONNECTION_STRING}
      - GITHUB_PAT=${GITHUB_PAT}
      - ASPNETCORE_ENVIRONMENT=Production
      - MARIADB_USERNAME=${MARIADB_USERNAME}
      - MARIADB_PASSWORD=${MARIADB_PASSWORD}
    volumes:
      - ${DOCUMENTATION_PATH}:/var/builds/docs
      - ${INSTALLERS_PATH}:/var/builds/installers
    networks:
      - apsim

  builds-db:
    image: mariadb:10
    pull_policy: always
    container_name: builds-db
    restart: unless-stopped
    profiles:
      - dev
      - all
      - builds
      - builds-db
    volumes:
      - /data/builds/db:/var/lib/mysql
    environment:
      - MARIADB_ROOT_PASSWORD=${MARIADB_PASSWORD}
    networks:
      - apsim

  httpd:
    image: httpd:apsim
    pull_policy: always
    container_name: httpd
    restart: unless-stopped
    build:
      context: ./httpd
      dockerfile: ./Dockerfile
    profiles:
      - dev
      - all
      - httpd
    ports:
      - 80:80
      - 443:443
    environment:
      - APACHE_LOG_DIR=/usr/local/apache2/logs
    networks:
      - apsim

  registration-site:
    image: apsiminitiative/registration-site:latest
    pull_policy: always
    container_name: registration-site
    restart: unless-stopped
    build:
      context: ./registration
      dockerfile: ./registration/Dockerfile
    profiles:
      - dev
      - all
      - registration
      - registration-db
    environment:
      - APACHE_LOG_DIR=/usr/local/apache2/logs
      - REGO_DB_CONNECT_STRING=${REGO_DB_CONNECT_STRING}
      - MAILJET_API_KEY=${MAILJET_API_KEY}
      - MAILJET_API_SECRET=${MAILJET_API_SECRET}
      - REGISTRATION_TOKEN=${REGISTRATION_TOKEN}
    networks:
      - apsim

  registration-db:
    image: mariadb:10
    pull_policy: always
    container_name: registration-db
    restart: unless-stopped
    environment:
      - MARIADB_AUTO_UPGRADE=true
    profiles:
      - dev
      - all
      - registration
      - registration-db
    networks:
      - apsim
    volumes:
      - /data/registration/db:/var/lib/mysql

  postats2-portal:
    image: apsiminitiative/postats2-portal:latest
    pull_policy: always
    container_name: postats2-portal
    restart: unless-stopped
    profiles:
      - dev
      - all
      - postats2
      - postats2-portal
    environment:
      - PORTAL_DB=${PORTAL2_DB}
      - ACCEPT_PASSWORD=${ACCEPT_PASSWORD}
      - GITHUB_TOKEN=${GITHUB_TOKEN}
      - POSTATS_UPLOAD_URL=${POSTATS2_UPLOAD_URL}
      - AZURE_BATCH_ACCOUNT_URL=${AZURE_BATCH_ACCOUNT_URL}
      - AZURE_BATCH_ACCOUNT_NAME=${AZURE_BATCH_ACCOUNT_NAME}
      - AZURE_BATCH_ACCOUNT_KEY=${AZURE_BATCH_ACCOUNT_KEY}
    ports:
      - 8082:8080
    networks:
      - apsim

  postats2-db:
    image: mariadb:10
    pull_policy: always
    container_name: postats2-db
    restart: unless-stopped
    profiles:
      - dev
      - all
      - postats2
      - postats2-db
    environment:
      - MARIADB_ROOT_PASSWORD=${MARIADB_ROOT_PASSWORD}
    volumes:
      - /data/postats2/db:/var/lib/mysql
    networks:
      - apsim

  postats-dev-portal:
    image: apsiminitiative/postats-dev-portal:latest
    pull_policy: always
    container_name: postats-dev-portal
    restart: unless-stopped
    profiles:
      - dev
      - all
      - postats-dev
      - postats-dev-portal
    environment:
      - PORTAL_DB=${PORTAL_DB}
      - ACCEPT_PASSWORD=${ACCEPT_PASSWORD}
      - GITHUB_TOKEN=${GITHUB_TOKEN}
      - POSTATS_UPLOAD_URL=${POSTATS_UPLOAD_URL}
      - AZURE_BATCH_ACCOUNT_URL=${AZURE_BATCH_ACCOUNT_URL}
      - AZURE_BATCH_ACCOUNT_NAME=${AZURE_BATCH_ACCOUNT_NAME}
      - AZURE_BATCH_ACCOUNT_KEY=${AZURE_BATCH_ACCOUNT_KEY}
    ports:
      - 8081:8080
    networks:
      - apsim

  postats-dev-db:
    image: mariadb:10
    pull_policy: always
    container_name: postats-dev-db
    restart: unless-stopped
    profiles:
      - dev
      - all
      - postats-dev
      - postats-dev-db
    environment:
      - MARIADB_ROOT_PASSWORD=${MARIADB_ROOT_PASSWORD}
    volumes:
      - /data/postats-dev/db:/var/lib/mysql
    networks:
      - apsim

  apsim-docs:
    image: apsiminitiative/apsim-docs:latest
    pull_policy: always
    container_name: apsim-docs
    restart: unless-stopped
    profiles:
      - apsim-docs
    networks:
      - apsim
    ports:
      - 5000:5000
    volumes:
      - /data/apsim-docs/:/app/apsim-docs-html
    environment:
      - ASPNETCORE_URLS=http://*:5000

  apsoil-api:
    image: apsiminitiative/apsoil:latest
    container_name: apsoil-api
    pull_policy: always
    restart: unless-stopped
    profiles:
      - dev
      - all
      - apsoil-api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    volumes:
      - /data/apsoil/db:/app/db
    networks:
      - apsim

volumes:
  tsdb:
  mongodata:
  api:

networks:
  apsim:
    external: true
